html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  /* outline: 1px solid green; */
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* delete underline from the link */
.hero__btn, .submit__btn, .join__btn, .address__geo,
.address__email,
.address__tel, .menu__link, .contact-email__link, .contact-tel__link, .logo__nav, .logo__footer, .card__link {
  text-decoration: none;
}

/* delete list style */
.footer-social__list, .menu, .nav-contact, .client__list, .feature__list, .filter, .portfolio__list, .product__list, .team__list, .team__social-net {
  list-style: none;
  padding: 0px;
}

/* visually hidden */
.portfolio__title--hiden,
.feature__title--hiden,
.checkbox--hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* Button */
.hero__btn, .submit__btn, .join__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-align: center;
  background-color: #2196f3;
}

/* Hero button */
.hero__btn {
  border-style: none;
}

/* Modal button */
.submit__btn {
  border-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* JOIN button */
.join__btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.join__btn .icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Sections css options*/
.feature--section,
.product--section,
.team--section,
.client--section,
.portfolio--section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature__title,
.products__title,
.team__title,
.client__title,
.portfolio__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
}

/* Filter button css options*/
.filter__button {
  padding: 6px 22px;
  border-style: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.filter__button:hover, .filter__button:focus {
  color: #ffffff;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
  background-color: #2196f3;
}

/* General */
.footer {
  padding-top: 48px;
  padding-bottom: 0px;
  color: #ffffff;
  background-color: #2f303a;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-bottom: 28px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* Footer address css options */
.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-style: normal;
}

.address__geo,
.address__email,
.address__tel {
  margin-top: 10px;
}

.address__email,
.address__tel {
  color: rgba(255, 255, 255, 0.6);
}

/* Footer social net css options */
.footer-social {
  margin-left: 70px;
  margin-right: 94px;
}

.footer-social__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-net:not(:last-child) {
  margin-right: 10px;
}

.social-net__icon {
  fill: #ffffff;
}

.social-net__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: #757575;
  background-color: #757575;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.social-net__link:hover, .social-net__link:focus {
  background-color: #2196f3;
}

/* Copiright */
.copiright {
  padding-top: 18px;
  padding-bottom: 20px;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header--no-border {
  border: 0px;
}

/* Header contacts */
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Header Menu css options */
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  position: relative;
}

.menu__item + .menu__item {
  margin-left: 50px;
}

.menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.menu__link:hover, .menu__link:focus {
  color: #2196f3;
}

.menu__link--current {
  color: #2196f3;
}

.menu__link--current::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: #2196f3;
}

.nav-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-email__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-tel__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact-email__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.contact-email__link:hover, .contact-email__link:focus {
  color: #2196f3;
}

.contact-tel__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.contact-tel__link:hover, .contact-tel__link:focus {
  color: #2196f3;
}

/* Hero css options*/
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../img/header-img.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../img/header-img.jpg");
  background-color: #2f303a;
}

.hero .hero__box {
  width: 710px;
  text-align: center;
}

.hero .hero__box .hero__title {
  margin-top: 0px;
  margin-bottom: 45px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.join__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.join__conteiner {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.join__conteiner .join__email {
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Logo */
.logo__nav, .logo__footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/* Logo header */
.logo__nav {
  margin-right: 80px;
  color: #212121;
}

/* Logo footer */
.logo__footer {
  color: #ffffff;
}

/* Logo accent */
.logo__accent {
  color: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.backdrop--hiden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  min-width: 528px;
  /* min-height: 500px; */
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  background: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.modal__close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  -webkit-transform: translate(30%, -30%);
          transform: translate(30%, -30%);
  border-radius: 50%;
  border-style: none;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.backdrop--hiden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
  opacity: 0;
}

/* Forms */
.form__field {
  display: block;
  position: relative;
}

.form__field:not(:nth-last-of-type(-n + 2)) {
  margin-bottom: 28px;
}

.form__field:nth-last-of-type(2) {
  margin-bottom: 20px;
}

.form__field:nth-last-of-type(1) {
  margin-bottom: 30px;
}

input {
  display: block;
  width: 100%;
  padding: 12px 12px 12px 42px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

input:focus {
  border: 1px solid #2196f3;
}

input:focus ~ .form__icon {
  fill: #2196f3;
}

input:focus ~ .form__field-title {
  -webkit-transform: translate(-25px, -20px);
          transform: translate(-25px, -20px);
  color: #2196f3;
}

.form__input:not(:placeholder-shown) ~ .form__field-title {
  -webkit-transform: translate(-25px, -20px);
          transform: translate(-25px, -20px);
}

textarea {
  display: block;
  resize: none;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

textarea:focus {
  border: 1px solid #2196f3;
}

.modal__title {
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.form__field-title {
  position: absolute;
  top: 0;
  left: 42px;
  -webkit-transform: translateY(95%);
          transform: translateY(95%);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.form__field-title--no-image {
  left: 18px;
}

textarea:focus ~ .form__field-title {
  -webkit-transform: translate(0px, -20px);
          transform: translate(0px, -20px);
  color: #2196f3;
}

textarea:not(:placeholder-shown) ~ .form__field-title {
  -webkit-transform: translate(0px, -20px);
          transform: translate(0px, -20px);
}

.form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 16px;
  -webkit-transform: translateY(70%);
          transform: translateY(70%);
}

.form__field.policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__field.policy a {
  display: contents;
}

.checkbox__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 9px;
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.checkbox:checked ~ .checkbox__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 9px;
  width: 15px;
  height: 15px;
  border: 2px solid #2196f3;
  border-radius: 2px;
  background-origin: content-box;
  background-color: #2196f3;
  background-image: url(../img/icon-checked.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

/* Clients */
.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client__item:not(:last-child) {
  margin-right: 30px;
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 90px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #757575;
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.client__link:hover, .client__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

/* Feature css options */
.feature__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__item {
  width: 270px;
}

.feature__item:not(:last-child) {
  margin-right: 30px;
}

.feature__icon {
  display: block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  padding: 25px 0;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.feature__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  text-transform: uppercase;
}

/* Portfolio css options */
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter__item:not(:last-child) {
  margin-right: 10px;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.card {
  width: 370px;
  margin: 15px;
}

.card__box-image {
  position: relative;
  overflow: hidden;
}

.card__content {
  padding: 20px 0px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.card__title {
  margin-bottom: 4px;
  padding: 0px 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.card__kinde {
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.card__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.card__link:hover, .card__link:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.card__description {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.card__link:hover .card__description,
.card__link:focus .card__description {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

/* Product css options */
.product__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__item:not(:last-child) {
  margin-right: 30px;
}

.product__box {
  position: relative;
}

.product__title {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}

/* Team css options */
.team--bgc {
  background-color: #f5f4fa;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__member {
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team__member:not(:last-child) {
  margin-right: 30px;
}

.team__description {
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: #ffffff;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #212121;
}

.team__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
}

.team__social-net {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__item:not(:last-child) {
  margin-right: 10px;
}

.team__social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #757575;
  fill: currentColor;
  background-color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.team__social-icon:hover, .team__social-icon:focus {
  fill: currentColor;
  color: #ffffff;
  background-color: #2196f3;
}
/*# sourceMappingURL=main.css.map */