@import "../utils/variables";

/* General */
.footer {
  padding-top: 48px;
  padding-bottom: 0px;

  color: $font-color-third;

  background-color: $bgc-footer;
}

.footer__content {
  display: flex;
  align-items: baseline;
  padding-bottom: 28px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* Footer address css options */
.address {
  display: flex;
  flex-direction: column;

  font-style: normal;
}

.address__geo,
.address__email,
.address__tel {
  @extend %no-link;
  margin-top: 10px;
}

.address__email,
.address__tel {
  color: $font-color-ftr-contact;
}

/* Footer social net css options */
.footer-social {
  margin-left: 70px;
  margin-right: 94px;
}

.footer-social__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-social__list {
  @extend %no-list;
  display: flex;
}

.social-net:not(:last-child) {
  margin-right: 10px;
}

.social-net__icon {
  fill: $font-color-third;
}

.social-net__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  color: $font-color-primary;
  background-color: $font-color-primary;

  transition: background-color $transition-duration $transition-timing-function
    $transition-delay;

  &:hover,
  &:focus {
    background-color: $font-color-active-element;
  }
}

/* Copiright */
.copiright {
  padding-top: 18px;
  padding-bottom: 20px;

  font-size: 12px;
  line-height: 2;
  text-align: center;
  color: $font-color-ftr-copiright;
}
