@import "../utils/variables";
@import "../utils/utilities";
@import "../utils/placeholders";
@import "../utils/breakpoints";
@import "../utils/mixin";

.header {
  position: relative;

  border-bottom: 1px solid $border-color-hdr;
  &--no-border {
    border: 0px;
  }
}

/* Header contacts */
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  max-height: 80px;
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.menu__conteiner {
  @media screen and (max-width: $tablet - 1px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 999;

    background-color: $bgc-primary;
    text-align: center;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 4px 8px rgba(0, 0, 0, 0.04);
    &.menu__button--is-open {
      display: block;
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;

    &__item + &__item {
      margin-left: 50px;
    }
  }
}

/* Header Menu css options */
.nav {
  @media screen and (max-width: $tablet - 1px) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.menu {
  @extend %no-list;
  font-size: 18px;
  line-height: 1.16;

  @media screen and (min-width: $tablet) {
    display: inline-flex;
    // margin-right: 84px;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    .menu__item:not(:last-child) {
      margin-right: 50px;
    }
  }

  @media screen and (min-width: $desktop) {
    // margin-right: 290px;
  }
}

.menu__button {
  display: inline-flex;
  z-index: 999;
  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    fill: $font-color-active-element;
  }

  .icon__cross {
    display: none;
  }

  &--is-open .icon__cross {
    display: block;
  }

  &--is-open .icon__menu {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu__link {
  @extend %no-link;
  position: relative;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;

  @media screen and (min-width: $tablet) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $font-color-secondary;

  transition: $transition-duration $transition-timing-function $transition-delay;

  &:hover,
  &:focus {
    color: $font-color-active-element;
  }
}

.menu__link--current {
  color: $font-color-active-element;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 10px;

    border-radius: 2px;
    background-color: $font-color-active-element;

    @media screen and (min-width: $tablet) {
      bottom: 0;
    }
  }
}

.nav-contact {
  @extend %no-list;

  @media screen and (max-width: $tablet - 1px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: $tablet) {
    align-self: center;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.contact-email {
  display: flex;
  justify-content: start;

  @media screen and (max-width: $tablet - 1px) {
    justify-content: center;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 30px;
  }

  align-items: center;

  &__icon {
    margin-right: 10px;

    fill: currentColor;
  }
}

.contact-tel {
  display: flex;
  justify-content: start;
  margin-left: -2px;

  @media screen and (max-width: $tablet - 1px) {
    justify-content: center;
  }

  &__icon {
    margin-right: 10px;

    fill: currentColor;
  }
}

.contact-email__link {
  @extend %no-link;
  display: flex;

  @media screen and (max-width: $tablet - 1px) {
    padding-top: 0px;
    padding-bottom: 8px;
  }

  @media screen and (max-width: $desktop - 1px) {
    padding-top: 0px;
    padding-bottom: 5px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  align-items: center;

  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $font-color-primary;

  transition: $transition-duration $transition-timing-function $transition-delay;

  &:hover,
  &:focus {
    color: $font-color-active-element;
  }
}

.contact-tel__link {
  @extend %no-link;
  display: flex;

  @media screen and (max-width: $tablet - 1px) {
    padding-top: 8px;
    padding-bottom: 0px;
  }

  @media screen and (max-width: $desktop - 1px) {
    padding-top: 5px;
    padding-bottom: 0px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  align-items: center;

  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $font-color-primary;

  transition: $transition-duration $transition-timing-function $transition-delay;

  &:hover,
  &:focus {
    color: $font-color-active-element;
  }
}
