@import "../utils/variables";

/* Hero css options*/
.hero {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url("../img/header-img.jpg");
  background-color: $bgc-footer;

  .hero__box {
    width: 710px;

    text-align: center;

    .hero__title {
      margin-top: 0px;
      margin-bottom: 45px;

      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 0.06em;
      color: $font-color-hero;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
