@import "../utils/variables";
@import "../utils/utilities";
@import "../utils/placeholders";
@import "../utils/breakpoints";
@import "../utils/mixin";

/* Logo */
%logo {
  @extend %no-link;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/* Logo header */
.logo__nav {
  @extend %logo;
  display: inline-block;
  z-index: 999;

  color: $font-color-secondary;
  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 80px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

/* Logo footer */
.logo__footer {
  @extend %logo;
  color: $font-color-third;
}

/* Logo accent */
.logo__accent {
  color: $font-color-active-element;
}
