@import "../utils/variables";

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity $transition-duration $transition-timing-function
    $transition-delay;
}

.backdrop--hiden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  min-width: 528px;
  /* min-height: 500px; */
  transform: translate(-50%, -50%) scale(1);

  background: $bgc-modal;
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  opacity: 1;
  transition: transform $transition-duration $transition-timing-function
      $transition-delay,
    opacity $transition-duration $transition-timing-function $transition-delay;

  &__close-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    transform: translate(30%, -30%);

    border-radius: 50%;
    border-style: none;
    background-color: $bgc-primary;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
  }
}

.backdrop--hiden .modal {
  transform: translate(-50%, -50%) scale(1.1);

  opacity: 0;
}

/* Forms */
.form__field {
  display: block;
  position: relative;

  &:not(:nth-last-of-type(-n + 2)) {
    margin-bottom: 28px;
  }

  &:nth-last-of-type(2) {
    margin-bottom: 20px;
  }

  &:nth-last-of-type(1) {
    margin-bottom: 30px;
  }
}

input {
  display: block;
  width: 100%;
  padding: 12px 12px 12px 42px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: $font-color-primary;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  &:focus {
    border: 1px solid $font-color-active-element;
  }

  &:focus ~ .form__icon {
    fill: $font-color-active-element;
  }

  &:focus ~ .form__field-title {
    transform: translate(-25px, -20px);

    color: $font-color-active-element;
  }
}

.form__input:not(:placeholder-shown) ~ .form__field-title {
  transform: translate(-25px, -20px);
}

textarea {
  display: block;
  resize: none;
  width: 100%;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;

  &:focus {
    border: 1px solid $font-color-active-element;
  }
}

.modal__title {
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;

  text-align: center;
  color: $font-color-secondary;
}

.form__field-title {
  position: absolute;
  top: 0;
  left: 42px;
  transform: translateY(95%);

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: $font-color-primary;
  transition: transform $transition-duration $transition-timing-function
    $transition-delay;

  &--no-image {
    left: 18px;
  }

  textarea:focus ~ & {
    transform: translate(0px, -20px);

    color: $font-color-active-element;
  }

  textarea:not(:placeholder-shown) ~ & {
    transform: translate(0px, -20px);
  }
}

.form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 16px;
  transform: translateY(70%);
}

.form__field.policy {
  display: flex;
  align-items: center;

  a {
    display: contents;
  }
}

.checkbox__icon {
  display: inline-flex;
  margin-right: 9px;
  width: 15px;
  height: 15px;

  border: 2px solid $font-color-secondary;
  border-radius: 2px;

  .checkbox:checked ~ & {
    display: inline-flex;
    margin-right: 9px;
    width: 15px;
    height: 15px;

    border: 2px solid $font-color-active-element;
    border-radius: 2px;
    background-origin: content-box;
    background-color: $font-color-active-element;
    background-image: url(../img/icon-checked.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
