@import "../utils/variables";
@import "../utils/utilities";
@import "../utils/placeholders";
@import "../utils/breakpoints";
@import "../utils/mixin";

/* Feature css options */
.feature__list {
  @extend %no-list;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 1199px) {
      margin: -15px;
    }
  }
}

.feature__item {
  width: 100%;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    @media screen and (max-width: 1199px) {
      margin: 15px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.feature__icon {
  display: block;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  padding: 25px 0;

  border-radius: 4px;
  background-color: $bgc-secondary;
}

.feature__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: $font-color-secondary;
  text-transform: uppercase;
}
