@import "../utils/variables";

/* Button */
%button {
  @extend %no-link;
  display: inline-flex;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $font-color-button;
  text-align: center;

  background-color: $bgc-button;
}
/* delete underline from the link */

%no-link {
  text-decoration: none;
}

/* delete list style */
%no-list {
  list-style: none;
  padding: 0px;
}
