// Fonts & background color

$font-color-primary: #757575;
$font-color-secondary: #212121;
$font-color-third: #ffffff;
$font-color-button: #ffffff;
$font-color-hero: #ffffff;
$font-color-active-element: #2196f3;
$font-color-ftr-contact: rgba(255, 255, 255, 0.6);
$font-color-ftr-copiright: rgba(255, 255, 255, 0.4);

$bgc-primary: #ffffff;
$bgc-secondary: #f5f4fa;
$bgc-footer: #2f303a;
$bgc-card-description: rgba(33, 150, 243, 0.9);
$bgc-button: #2196f3;
$bgc-modal: #ffffff;

$border-color-hdr: #ececec;
$border-color-client: #afb1b8;
$border-color-portfolio: #eeeeee;

// Fonts style
$primary-font-style: "Roboto", sans-serif;
$font-weight: 400;
$font-size: 14px;

// Animation
$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-delay: 0ms;
